body {
  background: #eeee;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.container {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: bold;
  width: 650px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  background-image: url("image/sky.png");
  background-size: cover;

  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 6px rgba(0, 0, 0, 0.03),
    0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05),
    0 48px 34px rgba(0, 0, 0, 0.06);
}
.bars {
  text-align: left;
  font-size: 30px;
}
.search {
  padding: 0px 12px;
  background: none;
  border: 0px;
  font-size: 20px;
}
.form-control {
  font-size: 13px;
  border-radius: 6px;
}
.location {
  font-size: 13px;
}
.date {
  margin: 0px;
  color: gray;
  font-size: 13px;
}
.icon {
  max-width: 120px;
}
.temperature {
  font-size: 70px;
  text-align: center;
}

.symbol {
  font-size: 30px;
  position: relative;
  line-height: 1;
  top: -20px;
}
.drops,
.wind {
  width: 35px;
  padding-right: 0px;
}
.humid,
.vel {
  padding-left: 0px;
}
.km {
  font-size: 13px;
}
.scale .active {
  color: gray;
  cursor: default;
}

.scale .active:hover {
  text-decoration: none;
}
.weather-labels {
  font-size: 13px;
  color: gray;
}
.pressure,
.min,
.max,
.humidity {
  padding: 8px;
  font-size: 14px;
}

.weather-tags {
  font-size: 13px;
  color: gray;
}

.reference {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px;
}
.day-1,
.day-2,
.day-3,
.day-4,
.day-5 {
  padding: 10px;
}
.fore-min {
  opacity: 0.5;
}
.days {
  font-size: 13px;
  color: gray;
}

.forecast-card {
  background-color: white;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.02), 0 8px 6px rgba(0, 0, 0, 0.03),
    0 16px 10px rgba(0, 0, 0, 0.04), 0 26px 18px rgba(0, 0, 0, 0.05),
    0 48px 34px rgba(0, 0, 0, 0.06);
  border: 0px solid;
}
