h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.container {
  text-align: center;
  width: 700px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  box-shadow: 0px 3px 10px 8px #f2f3f4;
}
.bars {
  text-align: left;
  font-size: 30px;
}
.search {
  padding: 8px;
}
.form-control {
  font-size: smaller;
}
.location {
  font-size: smaller;
}
.date {
  margin: 0px;
  color: gray;
  font-size: smaller;
}
.temperature {
  font-size: 70px;
  text-align: center;
}

.symbol {
  font-size: 70px;
}
.scale .active {
  color: gray;
  cursor: default;
}

.scale .active:hover {
  text-decoration: none;
}
.weather-labels {
  font-size: smaller;
  color: gray;
}
.pressure,
.min,
.max,
.humidity {
  padding: 7px;
}
.weather-tags {
  font-size: smaller;
  color: gray;
}

.reference {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px;
}
.day-1,
.day-2,
.day-3,
.day-4,
.day-5 {
  padding: 10px;
}

.days {
  font-size: smaller;
  color: gray;
}
