h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.container {
  text-align: center;
  width: 700px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  box-shadow: 0px 3px 10px 8px #f2f3f4;
}
.bars {
  left: 10px;
  text-align: left;
  font-size: 30px;
}
.search {
  padding: 10px 8px;
  font-size: 20px;
}
.date {
  margin: 0px;
}
.temperature {
  font-size: 70px;
  text-align: center;
}

.pressure,
.min,
.max,
.humidity {
  padding: 10px;
}

.reference {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 10px;
}
